@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;900&display=swap');
html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 22px;
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transition: 0.4s;
        transition-timing-function: ease-out;
    }
}
.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 22px;
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    &:hover {
        background-color: #F0EFE9;
        border: 1px solid #F0EFE9;
        color: #191919;
        transition: 0.4s;
        transition-timing-function: ease-out;
    }
}
.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 22px;
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transition: 0.4s;
        transition-timing-function: ease-out;
    }
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    background-color: #F0EFE9;
    padding: 15px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        .menu-bars {
            width: 35px; 
            height: 35px; 
            border: none;
            background-color: transparent;
            @media (min-width: 992px) {
                display: none;
            }
        }
        .nav-menu {
            display: none;
            flex: 1;
            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                justify-content: flex-end;
                display: flex;
                padding-bottom: 10px;
                border-bottom: 1px solid #DAD9D3;
                align-items: center;
                @media (min-width: 1200px) {
                    justify-content: space-between;
                }
                .contact-menu {
                    display: none; 
                    align-items: center;
                    @media (min-width: 1200px)  {
                        display: flex;
                    }           
                    .content-box {
                        padding-right: 20px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        svg {
                            margin-right: 5px;
                        }
                        &.last {
                            border-right: none;
                        }
                        }  
                }
                .social-media {
                    svg {
                        margin-left: 12px;
                        fill: #191919;
                        &:hover{
                            fill: #666666;
                            transition: 0.4s;
                            transition-timing-function: ease-out;
                        }
                    }
                }
            }
            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 12px;
                nav {
                    a {
                        color: #191919;
                        text-decoration: none;
                        margin-right: 30px;
                        position: relative;
                        &.active {
                            font-weight: 500;
                        }
                        &:hover::after,
                        &.active:after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
            }
        }
    }
}
.showcase {
    background-color: #F0EFE9;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            @media (min-width: 1200px) {
                text-align: left;
            }
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
                @media (min-width: 768px) {
                    font-size: 66px;
                }
                @media (min-width: 1400px) {
                    font-size: 80px;
                }
            }
            p {
                font-size: 16px;
                padding-bottom: 30px;
                padding-top: 30px;
                padding-left: 10px;
                padding-right: 10px;   
                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px; 
                }   
            }
            a {
                margin-right: 0px;
                padding-bottom: 15px;
                padding-top: 15px;
                margin-bottom: 20px;
                display: block;
                @media (min-width: 768px) {
                    margin-right: 12px;
                    display: inline-block;
                }
            }
        }
        img {
            display: none;
            margin-right: -50px;
            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}
.section-title {
    padding-top: 70px;
    padding-bottom: 40px;
    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }
    p {
        color: #f94d1c;
        margin-bottom: 8px;
    }
    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}
.project-section {
    .container {
        .section-title {
            text-align: center;

        }
        .project-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }
            article {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                img {
                    max-width: 645px;
                    max-height: 311px;
                }
                a {
                    padding: 16px 16px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: #191919;
                    text-decoration: none;
                    i {
                        margin-left: 5px;
                    }
                }
                h3 {
                    padding-top: 35px;
                    padding-bottom: 16px;
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    border-bottom: 1px solid #DAD9D3;
                }
            }
        }
        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}
.company-logos {
    display: none;
    @media (min-width: 1400px) {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
    }
}
.company-feature {
    
    .container {
        border: 1px solid #DAD9D3;
        margin-top: 40px;
        @media (min-width: 1200px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
        .section-title {
            padding-top: 90px;
            padding-left: 50px;
            padding-right: 120px;
            padding-bottom: 200px;
            a {
                display: flex;
                text-align: center;
                justify-content: center;
            }
        }
        .features {
            display: none;
            @media (min-width: 1200px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding-top: 100px;
            h3 {
                color: #191919;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 22px;
                padding-top: 14px;
            }
            p {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                color: #191919;
                padding-bottom: 30px;
            }
        }
        }
    }
}
.about-company {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .about-image {
            img {
                width: 70%;
                padding-top: 90px;
                position: relative;
            }
            .text-overlay{
                position: absolute;
                padding: 10px;
                background-color: #BEEBFF;
                display: block;
                margin-left: -15%;
                margin-top: 20%;
                max-width: 380px;
                h3 {
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    padding-top: 14px;
                    display: inline;
                }
                p {
                    font-family: "Inter";
                    font-size: 16px;
                    font-weight: 500;
                    font-style: italic;
                    text-align: left;
                    color: #191919;
                    margin-top: 20px;
                    display: block;
                }
                .h3-color {
                    color:#f94d1c;
                }
            }
        }
        .section-title {

            article {
                padding-bottom: 50px;
            }
            .btn-black {
                justify-content: end;
            }
        }
    }
}
.company-service {
    background: #f0efe9;
    margin-top: 30px;
    .container {
        .section-title {
            margin-right: 800px;

        }
        .company-services {
            display: flex;
            .service-option {
                background-color: #ffffff;
                padding: 10px;
                justify-content: space-between;
                border: 1px solid #191919;
            }
            .btn-black {

            }
            h3 {

            }
            p {

            }
        }
        .bottom-button {
            margin-top: 50px;
            padding-bottom: 90px;
        }
    }
}