@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 8px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 22px;
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transition: 0.4s;
        transition-timing-function: ease-out;
    }
}
header {
    display: flex;
    background-color: #F0EFE9;
    padding: 15px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        .menu-bars {
            width: 35px; 
            height: 35px; 
            border: none;
            background-color: transparent;
            @media (min-width: 992px) {
                display: none;
            }
        }
        .nav-menu {
            display: none;
            flex: 1;
            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                justify-content: flex-end;
                display: flex;
                padding-bottom: 10px;
                border-bottom: 1px solid #DAD9D3;
                align-items: center;
                @media (min-width: 1200px) {
                    justify-content: space-between;
                }
                .contact-menu {
                    display: none; 
                    align-items: center;
                    @media (min-width: 1200px)  {
                        display: flex;
                    }           
                    .content-box {
                        padding-right: 20px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        svg {
                            margin-right: 5px;
                        }
                        &.last {
                            border-right: none;
                        }
                        }  
                }
                .social-media {
                    svg {
                        margin-left: 12px;
                        fill: #191919;
                        &:hover{
                            fill: #666666;
                            transition: 0.4s;
                            transition-timing-function: ease-out;
                        }
                    }
                }
            }
            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 12px;
                nav {
                    a {
                        color: #191919;
                        text-decoration: none;
                        margin-right: 30px;
                        position: relative;
                        &.active {
                            font-weight: 500;
                        }
                        &:hover::after,
                        &.active:after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
            }
        }
    }
}
.showcase {
    .container {
        
    }
}