header {
    display: flex;
    background-color: #F0EFE9;
    padding: 15px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        .menu-bars {
            width: 35px; 
            height: 35px; 
            border: none;
            background-color: transparent;
            @media (min-width: 992px) {
                display: none;
            }
        }
        .nav-menu {
            display: none;
            @media (min-width: 992px) {
                display: block;
            }
        }
    }
}